{% extends "base.html" %}
{% load static %}

{% block title %}Home | Resin Bloom{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/homepage.css' %}">

<div class="section-title">Featured Seasonal Products</div>

<div class="products">
    <div class="product">
        <img src="{% static 'images/hexagon.webp' %}" alt="Hexagon Resin Block">
        <h2>Hexagon Botanical Resin Block</h2>
    </div>
    <div class="product">
        <img src="{% static 'images/Square4X4.jpg' %}" alt="Square Resin Block">
        <h2>Square Resin Keepsake with Roses</h2>
    </div>
</div>
{% endblock %}
